page-tdrop {
.frmWidth{
    width: 100%;
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.Absolute-Center {
    //overflow: auto;
    height:20px;
    width: 20px; 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
}
